<div id="post_list">
    <hr style="border: 2px transparent solid !important; margin-top: 30px; margin-bottom: 4px;" />
    <div>
      <div class="link-container" style="text-align: left;">
          List of Posts: &nbsp;
          <a href="/tags/programming/">Programming</a> &nbsp;
          <a href="/tags/software/">Software</a> &nbsp;
          <a href="/tags/productivity/">Productivity</a> &nbsp;
          <a href="/tags/other/">Others</a> &nbsp;
          <a href="/tags/weekly/">Weekly</a>
          <!-- <a href="/tags/product/">Product</a> -->
    </div>
    
    <hr style="border: 2px transparent solid !important; margin-top: 4px;"/>
</div>
